<footer>
    <div class="f-info">
        <div class="f-social">
            <div>
                <i class="fa-brands fa-instagram"></i>
            </div>
            <div>
                <i class="fa-brands fa-meta"></i>
            </div>
            <div>
                <i class="fa-brands fa-youtube"></i>
            </div>
        </div>
        <div class="f-link">
                <a href="#">Privacy</a> &nbsp; &nbsp;
                <a href="#">Terms</a>
        </div>
    </div>
</footer>